@model LanchoMac.Models.Lanche

@{
    ViewData["Title"] = "Details";
}

<h1>Detailhes do Lanches</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoLonga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoLonga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemTumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemTumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLacnhePreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLacnhePreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.lancheId">Editar</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Voltar a pagina inicial</a>
</div>
