@model ReflectionIT.Mvc.Paging.PagingList<LanchoMac.Models.Lanche>

@{
    ViewData["Title"] = "Index";
}

<h1>Lanches</h1>

 <form method="get" class="form-inline">

    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />

    <button type="submit" class="btn btn-info">Procurar</button>
</form> 

Total de Pedidos : @Model.TotalRecordCount
<div>
   <vc:pager paging-list="@Model"></vc:pager>
</div>








<p>
    <a asp-action="Create" class="btn btn-outline-primary">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoCurta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td> 
                <td>
                    <a class="btn btn-warning text-light" asp-action="Edit" asp-route-id="@item.lancheId">Editar</a> |
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.lancheId">Detalhes</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.lancheId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
